/* Desktop, fixed width CSS */

.custom_listview_img {
    margin:0px; 
    padding:0px;
    background-image:url('images/chemex.png');
    background-repeat:no-repeat;
    background-size:100%;
}

.ui-page {
    //background: url("images/texturedbg.png");
    //background-repeat: repeat;
    background: url("images/chemex.png");
    background-repeat:no-repeat;
    background-size:100%;
}

.ui-bar-b {
	text-shadow:none;
	color:#323232;
	border: 1px solid white;
}
.ui-select span .ui-btn-text
{
	font-size:12px;
}

label.ui-input-text, .ui-controlgroup-label , label.ui-select, .ui-btn-text
{
	font-size:12px;
}

input.ui-input-text, textarea.ui-input-text  
{
	font-size:12px;
}

/*.ui-listview {
	height: 100%;
}*/


#coffeeList{
	padding-top: 15px;
}


#coffeeList li
{
	background-image: url("images/coffeecup.png");
	background-position: 10px 20px;
	background-repeat: no-repeat;
	background-color: rgb(156, 178, 186);
	//background-color: rgba(120, 120, 120, 0.5);
	border: 1px solid rgb(220,220,220);
}	

#coffeeList .ui-btn-text
{
	padding-left: 50px;
	width: 90%;
}

#coffeeList .ui-link-inherit
{
	//color:#F5F5F5;
	text-shadow:none;
}

/*temporary hack for collapsible sets until 1.2.0 comes out*/

.ui-collapsible.ui-collapsible-collapsed .ui-collapsible-heading .ui-icon-plus,
.ui-icon-arrow-r { background-position: -108px 0; }
.ui-icon-arrow-l { background-position: -144px 0; }
.ui-icon-arrow-u { background-position: -180px 0; }
.ui-collapsible .ui-collapsible-heading .ui-icon-minus,
.ui-icon-arrow-d { background-position: -216px 0; }


@media all {
	.ui-field-contain, fieldset.ui-field-contain { padding: .2em 0; margin: 0; border-width: 0 0 0 0; }
}

.ui-li.ui-field-contain  {
	border-top-width: 0px;
}

a.ui-link-inherit {
	padding-top: 0px;
}

.ui-icon-myapp-edit {
	background-image: url("images/pencil.png");
	background-position: 1px 1px;
}

.ui-icon-myapp-delete {
	background-image: url("images/trash.png");
	background-position: 1px 1px;
}

.ui-btn-hover-b:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-b a.ui-link-inherit,
.ui-btn-up-b:visited, .ui-btn-up-b a.ui-link-inherit {
	color:#2F3E46;
}

div .hidden
{
	margin-top: -10px;
	z-index: 5;
}
#roaster_autocomplete
{
	margin-top:5px;
}
#add_roaster
{
	z-index:10;
}

#roaster_autocomplete li
{
	border-top-width:0px;
}

.coffeeDetails
{
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 30px;
}

.coffeeDetails .ui-body-b
{
	background-image:none;
	background-color: #F0F0F0;
	font-weight:normal;
	text-shadow:none;
	color:#000;
}

.ui-body-d {
	background-color: #F0F0F0;
}

