
        <div data-role="header" data-theme="b" data-position="fixed">
             <h1><%= name %></h1>
              <a href="#" data-transition="slide" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left" >Coffees</a>
        </div><!---header-->
        
        <div data-role="content">
        	<div class="coffeeDetails">
                <p><b>Description:</b><%= description %></p>
    
                <p><b>Preparation:</b> <%= preparation %></p>
    
                <p><b>Rating:</b> <%=rating %> stars</p>
    
                <p><b>Roaster:</b> <%=roaster %></span></p>
    
                <p><b>Roast Date:</b> <%=roast_date %></p>
    
                <p><b>Bean Composition:</b>  <%=bean_composition %></p>
    
                <div id="origin_details">
                    <p class="countryDetails"><b>Country:</b> <%= country %></p>
        
                    <p class="regDetails"><b>Region:</b> <%= region %></p>
        
                    <p class="farmDetails"><b>Farm:</b> <%= farm %></p>
        
                    <p class="varDetails"><b>Variety:</b> <%= variety %></p>
                </div>
    
                <p class="proDetails"><b>Process:</b> <%= process %></p>
			</div>

			</div>
        </div>
        <div data-role="footer" data-theme="b" data-position="fixed" data-fullscreen="true">		
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="grid"></a></li>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="star" class="myFavorite"></a></li>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="myapp-delete" class="delete"></a></li>
                    <li><a href="#coffee/<%= id %>/edit" data-transition="slide" data-role="button" data-icon="myapp-edit"></a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer --> 
