
        <div data-role="header" data-theme="b" data-position="fixed">
             <h1><%= name %></h1>
              <a href="#browse" data-transition="slide" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left" >Coffees</a>
        </div><!---header-->
        
        <div data-role="content">
        	<div class="coffeeDetails">   
                  <ul data-role="listview" data-inset="true">
                	<li data-role="list-divider">Description</li>
                    <li><%= description %></li>
                </ul>
 
               <ul data-role="listview" data-inset="true">
                	<li data-role="list-divider">Preparation</li>
                    <li><%= preparation %></li>
                </ul>
    
                <ul data-role="listview" data-inset="true">
                	<li data-role="list-divider">Rating</li>
                    <li><%=rating %> stars</li>
                </ul>

                 <ul data-role="listview" data-inset="true">
                 	<li data-role="list-divider">Roaster Info</li>
	                <li><b>Name:</b> <%=roaster %></li>
    	            <li><b>Date:</b> <%=roast_date %></li>
                </ul>

    
                <ul data-role="listview" data-inset="true">
                	<li data-role="list-divider">Bean Composition</li>
                    <li id="provenance"><%=bean_composition %></li>
                </ul>
     
     			<div class="origin_details" style="display:none">
                    <ul data-role="listview" data-inset="true">
                        <li data-role="list-divider">Provenance</li>
                        <li><b>Country:</b> <%=country %></li>
                        <li><b>Region:</b> <%=region %></li>
                        <li><b>Farm:</b> <%=farm %></li>
                        <li><b>Variety:</b> <%=variety %></li>
                    </ul>
                </div>
    
                <ul data-role="listview" data-inset="true">
                	<li data-role="list-divider">Process</li>
                    <li><%=process %></li>
                </ul>
			</div>

			</div>
        </div>
        <div data-role="footer" data-theme="b" data-position="fixed" data-fullscreen="true">		
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="grid"></a></li>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="star" class="myFavorite"></a></li>
                    <li><a href="#browse" data-transition="slide" data-role="button" data-icon="myapp-delete" class="delete"></a></li>
                    <li><a href="#coffee/<%= id %>/edit" data-transition="slide" data-role="button" data-icon="myapp-edit"></a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer --> 
